@charset "UTF-8";

* {
    margin: 0px; padding: 0px; border: 0px;
}

:root {
    --cor1: #110C1A;
    --cor2: #1A0A38;
    --cor3: #32254D;
    --cor4: #451C99;
    --cor5: #decdffd3;

    --fonte_padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte_destaque: 'Bebas Neue', cursive; /* ???? */
    --fonte_android: 'Android', cursive; /* ???? */
}

html, body {
    background-color: var(--cor1);
    font-family: var(--fonte_padrao);
    height: 100vh;
    width: 96vw;
    color: white;
    margin: auto;
}

header {
    display: block;
    background-color: var(--cor1);
    color: #451C99;
    width: 96vw;
    border-bottom: 1px solid var(--cor4);
}

#top-menu {
    display: flex;
}

.header-menu {
    padding: 5px 20px;
    margin: auto;
}

#home-menu {
    text-decoration: none;
    margin-inline-start: auto;
}

#curriculum-intro {
    background-color: var(--cor5);
    color: var(--cor1);
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.288);
}

#curriculum-intro > h1 {
    text-align: center;
    font-size: 3em;

}

#curriculum-intro > h2 {
    margin: 5px 0px 3px 0px;
}

#curriculum-intro > p > a {
    text-decoration: none;
    color: var(--cor1);
}

.icon {
    height: 17px;
}

.social-media {
    color: var(--cor4);
    font-weight: bold;
}