@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #110C1A;
    --cor2: #1A0A38;
    --cor3: #32254D;
    --cor4: #451C99;

    --fonte_padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte_destaque: 'Bebas Neue', cursive;
    --fonte_android: 'Android', cursive;
}


html, body {
    background-color: var(--cor1);
    height: 100vh;
    width: 96vw;
    color: white;
}

#presentation {
    color: rgb(0, 238, 255);
    text-align: center;
}

#presentation > img {
    border-radius: 50%;
    margin-top: 20px;
}

#presentation > nav > a {
    display: block;
    text-decoration: none;
    color: #6d2bf1;
    padding: 5px 0px 5px 0px;
    margin: auto;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 1px solid var(--cor3);
    border-bottom: 1px solid var(--cor3);
}

#presentation > nav > a:hover {
    display: block;
    background-color: #451C99;
    color: #110C1A;
}

#projects {
    display: block;
    height: 300px;
    width: 90vw;
    background-color: white;
    text-align: center;
    color: brown;
    margin: auto;
    margin-top: 10px;
}