@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #110C1A;
    --cor2: #1A0A38;
    --cor3: #32254D;
    --cor4: #451C99;

    --fonte_padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte_destaque: 'Bebas Neue', cursive;
    --fonte_android: 'Android', cursive;
}

html, body {
    background-color: var(--cor1);
    height: 100vh;
    width: 96vw;
    color: white;
    margin: auto;
    padding: 0px;
}

#presentation {
    color: rgb(0, 238, 255);
    text-align: center;
}

#presentation > img {
    border: 4px solid #32254D;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 0px 5px var(--cor4);
}

#presentation > h1 {
    font-family: system-ui, sans-serif;
    color: #6d2bf1;
    text-shadow: 0px 0px 4px #6d2bf16b;
}

#presentation > p {
    text-align: justify;
    padding: 5px 15px;
    font-family: var(--fonte_padrao);
    color: white;
}

#presentation > nav > a {
    display: inline-block;
    text-decoration: none;
    font-family: var(--fonte_padrao);
    font-size: small;
    font-weight: bold;
    color: #6d2bf1;
    padding: 5px 0px 5px 0px;
    margin: auto;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 2px;
    border-top: 1px solid var(--cor3);
    border-bottom: 1px solid var(--cor3);
    border-left: 20px solid #32254d0c;
    border-right: 20px solid #32254d0c;
    
}

#presentation > nav > a:active {
    background-color: #451C99;
    color: #110C1A;
}

.icon {
    height: 14px;
}

#projects {
    display: block;
    height: 300px;
    width: 90vw;
    background-color: white;
    text-align: center;
    color: brown;
    margin: auto;
    margin-top: 10px;
}